<% provide(:title, 'About') %>
<div class="center hero-unit">
	<h1>About Us</h1>
	<p>iLorem ipsum velit dolor pariatur in cupidatat sit fugiat nostrud in adipisicing sit mollit fugiat aliqua sunt est irure. </p>

</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>